<%= form_for(@user, :remote => true, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Your email address" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age, :placeholder => "Your age..." %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender, :placeholder => "Your gender..." %>
  </div>
  <div class="field">
    <%= f.label :preferedgedern %>
    <%= f.text_field :preferedgender, :placeholder => "The gender you are looking for..." %>
  </div>
  <div class="field">
    <%= f.label :aboutme %>
    <%= f.text_area :aboutme, :placeholder => "Tell us about yourself..." %>
  </div>
  <div class="actions">
    <%= f.submit "Save", :class => 'button' %>
  </div>
<% end %>
