<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Datr" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "https://js.stripe.com/v2/", "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  </head>

  <body>
    <nav class="top-bar">
      <%= render 'layouts/nav' %>
    </nav>

    <div id="signup_window" class="reveal-modal medium"></div>
    <div id="login_window" class="reveal-modal medium"></div>

    <% if !notice.blank? || !alert.blank? %>
      <div class="row">
        <div class="large-12 large-centered columns">
          <% if !notice.blank? %>
            <div class="alert-box success" id="notice"><%= notice %></div>
          <% end %>

          <% if !alert.blank? %>
            <div class="alert-box alert" id="alert"><%= alert %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
